<div class="col-xs-12 main-header">
  <h1>Add New Masters Paper</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
  <%= form_for :masters_paper, url: main_app.masters_papers_select_department_path do |f| %>
    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.label 'Choose a department:' %>
        <%= f.select :affiliation, options_for_select(DepartmentsService.select_all_options), {multiple: true},
                     class: 'form-control' %>
        <%= f.hidden_field :add_works_to_collection, value: params[:add_works_to_collection] %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Select', class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
