<div class="row">
  <div class="col-12 main-header">
    <h1>Add New Master's Paper</h1>
  </div>
</div>

<div class="card card-default">
  <div class="card-body">
  <%= form_for :masters_paper, url: main_app.masters_papers_select_department_path do |f| %>
    <div class="row">
      <div class="form-group col-12">
        <%= f.label 'Choose a department:', for: 'masters-department-select', class: 'font-weight-bold' %>
        <%= f.select :affiliation, options_for_select(MastersPapersDeptsService.select_all_options), {multiple: true},
                     class: 'form-control', id: 'masters-department-select'  %>
        <%= f.hidden_field :add_works_to_collection, value: params[:add_works_to_collection] %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Select', class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
