<div id="unc-search" class="row">
  <div class="col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-11">
    <%= image_tag("unc_libraries_logo.png", alt: t('hyrax.homepage_images.unc_libraries_logo')) %>
    <h2 class="repo-name">Carolina Digital Repository</h2>
  </div>
  <div class="col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-11">
    <%= render "catalog/search_form" if controller_name == 'homepage' %>
  </div>
  <div class="link-tabs col-xs-12 col-sm-12">
    <ul class="list-unstyled pull-right">
      <li><div><%= link_to t('hyrax.links.browse_collections'), main_app.search_catalog_path(f: { human_readable_type_sim: ["Collection"]}) %></div></li>
      <li><div><%= link_to t(:'hyrax.links.departments'), main_app.facet_catalog_path(id: 'affiliation_sim') %></div></li>
      <li><div data-turbolinks="false"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
        <% if user_signed_in? %>
          <%= link_to t('hyrax.links.deposit'), '#', class: 'all-unc-work-types',
                      data: { behavior: 'select-work', target: '#worktypes-to-create', 'create-type' => 'single' } %>
        <% else %>
          <%= link_to t('hyrax.links.deposit'), main_app.new_user_session_path %>
        <% end %>
      </div></li>
    </ul>
  </div>
</div>
