<!-- app/views/dimensions_report_mailer/dimensions_report_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <p><%= @report[:headers][:reporting_message] %></p>
  <p><%= @report[:headers][:admin_set] %></p>
  <p><%= @report[:headers][:total_publications] %></p>

  <h2><%= @report[:headers][:successfully_ingested] %></h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>ID</th>
        <th>URL</th>
        <th>PDF Attached</th>
      </tr>
    </thead>
    <tbody>
      <% @report[:successfully_ingested_rows].each do |publication| %>
        <tr>
          <td><%= publication[:title] %></td>
          <td><%= publication[:id] %></td>
          <td><a href="<%= publication[:url] %>"><%= publication[:url] %></a></td>
          <td><%= publication[:pdf_attached] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2><%= @report[:headers][:marked_for_review] %></h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>ID</th>
        <th>URL</th>
        <th>PDF Attached</th>
      </tr>
    </thead>
    <tbody>
      <% @report[:marked_for_review_rows].each do |publication| %>
        <tr>
          <td><%= publication[:title] %></td>
          <td><%= publication[:id] %></td>
          <td><a href="<%= publication[:url] %>"><%= publication[:url] %></a></td>
          <td><%= publication[:pdf_attached] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2><%= @report[:headers][:failed_to_ingest] %></h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>ID</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody>
      <% @report[:failed_to_ingest_rows].each do |publication| %>
        <tr>
          <td><%= publication[:title] %></td>
          <td><%= publication[:id] %></td>
          <td><%= publication[:error] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
