<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <p style="font-size: 16px; margin-bottom: 10px;"><%= @report[:headers][:reporting_message] %></p>
  <p style="font-size: 16px; margin-bottom: 10px;"><%= @report[:headers][:admin_set] %></p>
  <p style="font-size: 16px; margin-bottom: 10px;"><%= @report[:headers][:total_publications] %></p>

  <h2 style="font-size: 20px; margin-bottom: 10px;"><%= @report[:headers][:successfully_ingested] %></h2>
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 30%;">Title</th>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 20%;">Dimensions ID</th>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 30%;">URL</th>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 5%;">PDF Attached</th>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 15%;">Error</th>
      </tr>
    </thead>
    <tbody>
      <% @report[:successfully_ingested_rows].each_with_index do |publication, index| %>
        <tr style="background-color: <%= index.even? ? '#f9f9f9' : '#ffffff' %>;">
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;"><%= publication[:title] %></td>
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;"><%= publication[:id] %></td>
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;"><a href="<%= publication[:url] %>"><%= publication[:url] %></a></td>
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;"><%= publication[:pdf_attached] %></td>
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;">N/A</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <h2 style="font-size: 20px; margin-bottom: 10px;"><%= @report[:headers][:failed_to_ingest] %></h2>
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 30%;">Title</th>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 20%;">Dimensions ID</th>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 30%;">URL</th>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 5%;">PDF Attached</th>
        <th style="border: 2px solid #dddddd; text-align: left; padding: 10px; background-color: #f2f2f2; width: 15%;">Error</th>
      </tr>
    </thead>
    <tbody>
      <% @report[:failed_to_ingest_rows].each_with_index do |publication, index| %>
        <tr style="background-color: <%= index.even? ? '#f9f9f9' : '#ffffff' %>;">
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;"><%= publication[:title] %></td>
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;"><%= publication[:id] %></td>
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;">N/A</td>
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;">N/A</td>
          <td style="border: 2px solid #dddddd; text-align: left; padding: 10px;"><%= publication[:error] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
