<hr>
<div id="advisor">
  <%= f.fields_for :advisors do |advisor| %>
    <div class="advisor row">
      <div class="col-sm-6 advisor-name">
        <%= advisor.input :name, label: "Advisor",
                          input_html: { placeholder: 'Last Name, First Name',
                                        class: 'form-control advisor advisor-name',
                                        value: (advisor.object.name.first || nil) } %>
      </div>

      <div class="col-sm-6 advisor-orcid">
        <%= advisor.input :orcid, label: 'ORCID', input_html: { placeholder: '', class: 'form-control' } %>
      </div>

      <div class="col-sm-6 advisor-affiliation">
        <%= advisor.input :affiliation, as: :select,
                          collection: DepartmentsService.select_all_options.sort,
                          include_blank: true,
                          selected: advisor.object.affiliation,
                          item_helper: DepartmentsService.method(:include_current_value),
                          input_html: { class: 'form-control' }
        -%>
      </div>

      <div class="col-sm-6 advisor-other-affiliation">
        <%= advisor.input :other_affiliation, input_html: { placeholder: '', class: 'form-control' } %>
      </div>

      <% if advisor.index > 0 %>
      <button type="button" class="btn btn-link remove remove-advisor">
        <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Advisor</span>
      </button>
      <% end %>
    </div>
  <% end %>

  <% person_index = @form.advisors.count %>
  <!-- this hidden element keeps track of the advisor count for an about_me_and_my_program.es6 function -->
  <input type='hidden' name='index-advisor' id='index-advisor' value="<%= person_index %>" />

  <div class="advisor row cloning hidden" id='advisor-cloning_row'>
    <%= f.fields_for :advisors do |advisor| %>
      <div class="advisor row">
        <div class="col-sm-6 advisor-name">
          <%= advisor.input :name, label: "Advisor",
                            input_html: { placeholder: 'Last Name, First Name',
                                          class: 'form-control advisor advisor-name',
                                          value: (advisor.object.name.first || nil) } %>
        </div>

        <div class="col-sm-6 advisor-orcid">
          <%= advisor.input :orcid, label: 'ORCID', input_html: { placeholder: '', class: 'form-control' } %>
        </div>

        <div class="col-sm-6 advisor-affiliation">
          <%= advisor.input :affiliation, as: :select,
                            collection: DepartmentsService.select_all_options.sort,
                            include_blank: true,
                            selected: advisor.object.affiliation,
                            item_helper: DepartmentsService.method(:include_current_value),
                            input_html: { class: 'form-control' }
          -%>
        </div>

        <div class="col-sm-6 advisor-other-affiliation">
          <%= advisor.input :other_affiliation, input_html: { placeholder: '', class: 'form-control' } %>
        </div>

        <button type="button" class="btn btn-link remove remove-advisor">
          <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Advisor</span>
        </button>
      </div>
    <% end %>
  </div>
</div>
<button id="add-another-advisor">Add another Advisor</button>
<hr>
