<hr>
<div id="advisor">
  <%= f.fields_for :advisors do |advisor| %>
    <div class="advisor row">
      <div class="col-sm-6 advisor-name">
        <%= advisor.input :name, label: "Advisor",
                          input_html: { placeholder: 'Smith, John',
                                        class: 'form-control advisor advisor-name',
                                        value: (advisor.object.name.first || '') } %>
      </div>

      <div class="col-sm-6 advisor-orcid">
        <%= advisor.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                class: 'form-control',
                                                                value: (advisor.object.orcid.first || '') } %>
      </div>

      <div class="col-sm-6 advisor-affiliation">
        <%= advisor.input :affiliation, as: :select,
                          collection: DepartmentsService.select_all_options.sort,
                          include_blank: true,
                          selected: advisor.object.affiliation.first,
                          item_helper: DepartmentsService.method(:include_current_value),
                          input_html: { class: 'form-control' }
        -%>
      </div>

      <div class="col-sm-6 advisor-other-affiliation">
        <%= advisor.input :other_affiliation, input_html: { class: 'form-control',
                                                            value: (advisor.object.other_affiliation.first || '') } %>
      </div>

      <% if @form.advisors.count > 1 %>
      <span class="input-group-btn field-controls multi_value">
        <button type="button" class="btn btn-link remove remove-advisor" data-index="<%= advisor.index %>">
          <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Advisor</span>
        </button>
      </span>
      <% end %>
    </div>
  <% end %>

  <input type='hidden' name='index-advisor' id='index-advisor' value="<%= @form.advisors.count %>" />

  <div class="advisor row cloning hidden" id='advisor-cloning_row'>
    <%= f.fields_for :advisors do |advisor| %>
      <% if advisor.index <= @form.advisors.count %>
      <div class="advisor row">
        <div class="col-sm-6 advisor-name">
          <%= advisor.input :name, label: "Advisor",
                            input_html: { placeholder: 'Smith, John',
                                          class: 'form-control advisor advisor-name',
                                          value: '' } %>
        </div>

        <div class="col-sm-6 advisor-orcid">
          <%= advisor.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                  class: 'form-control',
                                                                  value: '' } %>
        </div>

        <div class="col-sm-6 advisor-affiliation">
          <%= advisor.input :affiliation, as: :select,
                            collection: DepartmentsService.select_all_options.sort,
                            include_blank: true,
                            selected: '',
                            item_helper: DepartmentsService.method(:include_current_value),
                            input_html: { class: 'form-control' }
          -%>
        </div>

        <div class="col-sm-6 advisor-other-affiliation">
          <%= advisor.input :other_affiliation, input_html: { class: 'form-control',
                                                              value: '' } %>
        </div>

        <span class="input-group-btn field-controls multi_value">
          <button type="button" class="btn btn-link remove remove-advisor" data-index="1">
            <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Advisor</span>
          </button>
        </span>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <button id="add-another-advisor" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Add another Advisor</span>
  </button>
</div>
<hr>
