<hr>
<div id="contributor">
  <%= f.fields_for :contributors do |contributor| %>
    <div class="contributor row">
      <div class="col-sm-6 contributor-name">
        <%= contributor.input :name, label: "Contributor",
                           input_html: { placeholder: 'Last Name, First Name',
                                         class: 'form-control contributor contributor-name',
                                         value: (contributor.object.name.first || '') } %>
      </div>

      <div class="col-sm-6 contributor-orcid">
        <%= contributor.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                 class: 'form-control',
                                                                 value: (contributor.object.orcid.first || '') } %>
      </div>

      <div class="col-sm-6 contributor-affiliation">
        <%= contributor.input :affiliation, as: :select,
                           collection: DepartmentsService.select_all_options.sort,
                           include_blank: true,
                           selected: contributor.object.affiliation.first,
                           item_helper: DepartmentsService.method(:include_current_value),
                           input_html: { class: 'form-control' }
        -%>
      </div>

      <div class="col-sm-6 contributor-other-affiliation">
        <%= contributor.input :other_affiliation, input_html: { class: 'form-control',
                                                             value: (contributor.object.other_affiliation.first || '') } %>
      </div>

      <% if @form.contributors.count > 1 %>
      <span class="input-group-btn field-controls multi_value">
        <button type="button" class="btn btn-link remove remove-contributor" data-index="<%= contributor.index %>">
          <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Contributor</span>
        </button>
      </span>
      <% end %>
    </div>
  <% end %>

  <input type='hidden' name='index-contributor' id='index-contributor' value="<%= @form.contributors.count %>" />

  <div class="contributor row cloning hidden" id='contributor-cloning_row'>
    <%= f.fields_for :contributors do |contributor| %>
      <% if contributor.index <= @form.contributors.count %>
        <div class="contributor row">
          <div class="col-sm-6 contributor-name">
            <%= contributor.input :name, label: "Contributor",
                               input_html: { placeholder: 'Last Name, First Name',
                                             class: 'form-control contributor contributor-name',
                                             value: '' } %>
          </div>

          <div class="col-sm-6 contributor-orcid">
            <%= contributor.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                     class: 'form-control',
                                                                     value: '' } %>
          </div>

          <div class="col-sm-6 contributor-affiliation">
            <%= contributor.input :affiliation, as: :select,
                               collection: DepartmentsService.select_all_options.sort,
                               include_blank: true,
                               selected: '',
                               item_helper: DepartmentsService.method(:include_current_value),
                               input_html: { class: 'form-control' }
            -%>
          </div>

          <div class="col-sm-6 contributor-other-affiliation">
            <%= contributor.input :other_affiliation, input_html: { class: 'form-control',
                                                                 value: '' } %>
          </div>

          <span class="input-group-btn field-controls multi_value">
          <button type="button" class="btn btn-link remove remove-contributor" data-index="1">
            <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Contributor</span>
          </button>
        </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <button id="add-another-contributor" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Add another Contributor</span>
  </button>
</div>
<hr>
