<hr>
<div id="creator">
  <%= f.fields_for :creators do |creator| %>
    <div class="creator row">
      <div class="col-sm-6 creator-name">
        <%= creator.input :name, label: "Creator",
                           input_html: { placeholder: 'Last Name, First Name',
                                         class: 'form-control creator creator-name',
                                         value: (creator.object.name.first || '') } %>
      </div>

      <div class="col-sm-6 creator-orcid">
        <%= creator.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                 class: 'form-control',
                                                                 value: (creator.object.orcid.first || '') } %>
      </div>

      <div class="col-sm-6 creator-affiliation">
        <%= creator.input :affiliation, as: :select,
                           collection: DepartmentsService.select_all_options.sort,
                           include_blank: true,
                           selected: creator.object.affiliation.first,
                           item_helper: DepartmentsService.method(:include_current_value),
                           input_html: { class: 'form-control' }
        -%>
      </div>

      <div class="col-sm-6 creator-other-affiliation">
        <%= creator.input :other_affiliation, input_html: { class: 'form-control',
                                                             value: (creator.object.other_affiliation.first || '') } %>
      </div>

      <% if @form.creators.count > 1 %>
      <span class="input-group-btn field-controls multi_value">
        <button type="button" class="btn btn-link remove remove-creator" data-index="<%= creator.index %>">
          <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Creator</span>
        </button>
      </span>
      <% end %>
    </div>
  <% end %>

  <input type='hidden' name='index-creator' id='index-creator' value="<%= @form.creators.count %>" />

  <div class="creator row cloning hidden" id='creator-cloning_row'>
    <%= f.fields_for :creators do |creator| %>
      <% if creator.index <= @form.creators.count %>
        <div class="creator row">
          <div class="col-sm-6 creator-name">
            <%= creator.input :name, label: "Creator",
                               input_html: { placeholder: 'Last Name, First Name',
                                             class: 'form-control creator creator-name',
                                             value: '' } %>
          </div>

          <div class="col-sm-6 creator-orcid">
            <%= creator.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                     class: 'form-control',
                                                                     value: '' } %>
          </div>

          <div class="col-sm-6 creator-affiliation">
            <%= creator.input :affiliation, as: :select,
                               collection: DepartmentsService.select_all_options.sort,
                               include_blank: true,
                               selected: '',
                               item_helper: DepartmentsService.method(:include_current_value),
                               input_html: { class: 'form-control' }
            -%>
          </div>

          <div class="col-sm-6 creator-other-affiliation">
            <%= creator.input :other_affiliation, input_html: { class: 'form-control',
                                                                 value: '' } %>
          </div>

          <span class="input-group-btn field-controls multi_value">
          <button type="button" class="btn btn-link remove remove-creator" data-index="1">
            <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Creator</span>
          </button>
        </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <button id="add-another-creator" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Add another Creator</span>
  </button>
</div>
<hr>
