<hr class="person-divider">
<div id="<%= person_key.to_s[0...-1].to_s %>">
  <h3 align="center"><%= person_key.to_s[0...-1].split('_').map(&:capitalize).join(' ') %></h3>
  <%= f.fields_for person_key do |person| %>
    <div class="<%= person_key.to_s[0...-1].to_s %> row">
      <div class="col-sm-6 <%= person_key.to_s[0...-1].to_s %>-name">
        <%= person.input :name,
                          input_html: { placeholder: 'Smith, John',
                                        class: "form-control #{person_key.to_s[0...-1].to_s} #{person_key.to_s[0...-1].to_s}-name",
                                        value: (person.object.name.first || '') },
                          required: f.object.required?(person) %>
      </div>

      <div class="col-sm-6 <%= person_key.to_s[0...-1].to_s %>-orcid">
        <%= person.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                class: 'form-control',
                                                                value: (person.object.orcid.first || '') } %>
      </div>

      <div class="col-sm-6 <%= person_key.to_s[0...-1].to_s %>-affiliation">
        <%= person.input :affiliation, as: :select,
                          collection: DepartmentsService.select_all_options.sort,
                          include_blank: true,
                          selected: person.object.affiliation.first,
                          item_helper: DepartmentsService.method(:include_current_value),
                          input_html: { class: 'form-control' }
        -%>
      </div>

      <div class="col-sm-6 <%= person_key.to_s[0...-1].to_s %>-other-affiliation">
        <%= person.input :other_affiliation, input_html: { class: 'form-control',
                                                            value: (person.object.other_affiliation.first || '') } %>
      </div>

      <% if @form.instance_eval(person_key.to_s).count > 1 %>
      <span class="input-group-btn field-controls multi_value">
        <button type="button" class="btn btn-link remove remove-<%= person_key.to_s[0...-1].to_s %>" data-index="<%= person.index %>">
          <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove <%= person_key.to_s[0...-1].split('_').map(&:capitalize).join(' ') %></span>
        </button>
      </span>
      <% end %>
    </div>
  <% end %>

  <input type='hidden' name='index-<%= person_key.to_s[0...-1].to_s %>' id='index-<%= person_key.to_s[0...-1].to_s %>' value="<%= @form.instance_eval(person_key.to_s).count %>" />

  <div class="<%= person_key.to_s[0...-1].to_s %> row cloning hidden" id='<%= person_key.to_s[0...-1].to_s %>-cloning_row'>
    <%= f.fields_for person_key do |person| %>
      <% if person.index <= @form.instance_eval(person_key.to_s).count %>
        <div class="<%= person_key.to_s[0...-1].to_s %> row">
          <div class="col-sm-6 <%= person_key.to_s[0...-1].to_s %>-name">
            <%= person.input :name,
                              input_html: { placeholder: 'Smith, John',
                                            class: 'form-control #{person_key.to_s[0...-1].to_s} #{person_key.to_s[0...-1].to_s}-name',
                                            value: '' } %>
          </div>

          <div class="col-sm-6 <%= person_key.to_s[0...-1].to_s %>-orcid">
            <%= person.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                    class: 'form-control',
                                                                    value: '' } %>
          </div>

          <div class="col-sm-6 <%= person_key.to_s[0...-1].to_s %>-affiliation">
            <%= person.input :affiliation, as: :select,
                              collection: DepartmentsService.select_all_options.sort,
                              include_blank: true,
                              selected: '',
                              item_helper: DepartmentsService.method(:include_current_value),
                              input_html: { class: 'form-control' }
            -%>
          </div>

          <div class="col-sm-6 <%= person_key.to_s[0...-1].to_s %>-other-affiliation">
            <%= person.input :other_affiliation, input_html: { class: 'form-control',
                                                                value: '' } %>
          </div>

          <span class="input-group-btn field-controls multi_value">
          <button type="button" class="btn btn-link remove remove-<%= person_key.to_s[0...-1].to_s %>" data-index="1">
            <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove <%= person_key.to_s[0...-1].split('_').map(&:capitalize).join(' ') %></span>
          </button>
        </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <button id="add-another-<%= person_key.to_s[0...-1].to_s %>" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Add another <%= person_key.to_s[0...-1].split('_').map(&:capitalize).join(' ') %></span>
  </button>
</div>
<hr class="person-divider">
