<hr>
<div id="reviewer">
  <%= f.fields_for :reviewers do |reviewer| %>
    <div class="reviewer row">
      <div class="col-sm-6 reviewer-name">
        <%= reviewer.input :name, label: "Reviewer",
                          input_html: { placeholder: 'Smith, John',
                                        class: 'form-control reviewer reviewer-name',
                                        value: (reviewer.object.name.first || '') } %>
      </div>

      <div class="col-sm-6 reviewer-orcid">
        <%= reviewer.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                class: 'form-control',
                                                                value: (reviewer.object.orcid.first || '') } %>
      </div>

      <div class="col-sm-6 reviewer-affiliation">
        <%= reviewer.input :affiliation, as: :select,
                          collection: DepartmentsService.select_all_options.sort,
                          include_blank: true,
                          selected: reviewer.object.affiliation.first,
                          item_helper: DepartmentsService.method(:include_current_value),
                          input_html: { class: 'form-control' }
        -%>
      </div>

      <div class="col-sm-6 reviewer-other-affiliation">
        <%= reviewer.input :other_affiliation, input_html: { class: 'form-control',
                                                            value: (reviewer.object.other_affiliation.first || '') } %>
      </div>

      <% if @form.reviewers.count > 1 %>
      <span class="input-group-btn field-controls multi_value">
        <button type="button" class="btn btn-link remove remove-reviewer" data-index="<%= reviewer.index %>">
          <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Reviewer</span>
        </button>
      </span>
      <% end %>
    </div>
  <% end %>

  <input type='hidden' name='index-reviewer' id='index-reviewer' value="<%= @form.reviewers.count %>" />

  <div class="reviewer row cloning hidden" id='reviewer-cloning_row'>
    <%= f.fields_for :reviewers do |reviewer| %>
      <% if reviewer.index <= @form.reviewers.count %>
        <div class="reviewer row">
          <div class="col-sm-6 reviewer-name">
            <%= reviewer.input :name, label: "Reviewer",
                              input_html: { placeholder: 'Smith, John',
                                            class: 'form-control reviewer reviewer-name',
                                            value: '' } %>
          </div>

          <div class="col-sm-6 reviewer-orcid">
            <%= reviewer.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                    class: 'form-control',
                                                                    value: '' } %>
          </div>

          <div class="col-sm-6 reviewer-affiliation">
            <%= reviewer.input :affiliation, as: :select,
                              collection: DepartmentsService.select_all_options.sort,
                              include_blank: true,
                              selected: '',
                              item_helper: DepartmentsService.method(:include_current_value),
                              input_html: { class: 'form-control' }
            -%>
          </div>

          <div class="col-sm-6 reviewer-other-affiliation">
            <%= reviewer.input :other_affiliation, input_html: { class: 'form-control',
                                                                value: '' } %>
          </div>

          <span class="input-group-btn field-controls multi_value">
          <button type="button" class="btn btn-link remove remove-reviewer" data-index="1">
            <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Reviewer</span>
          </button>
        </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <button id="add-another-reviewer" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Add another Reviewer</span>
  </button>
</div>
<hr>
