<hr>
<div id="translator">
  <%= f.fields_for :translators do |translator| %>
    <div class="translator row">
      <div class="col-sm-6 translator-name">
        <%= translator.input :name, label: "Translator",
                          input_html: { placeholder: 'Last Name, First Name',
                                        class: 'form-control translator translator-name',
                                        value: (translator.object.name.first || '') } %>
      </div>

      <div class="col-sm-6 translator-orcid">
        <%= translator.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                class: 'form-control',
                                                                value: (translator.object.orcid.first || '') } %>
      </div>

      <div class="col-sm-6 translator-affiliation">
        <%= translator.input :affiliation, as: :select,
                          collection: DepartmentsService.select_all_options.sort,
                          include_blank: true,
                          selected: translator.object.affiliation.first,
                          item_helper: DepartmentsService.method(:include_current_value),
                          input_html: { class: 'form-control' }
        -%>
      </div>

      <div class="col-sm-6 translator-other-affiliation">
        <%= translator.input :other_affiliation, input_html: { class: 'form-control',
                                                            value: (translator.object.other_affiliation.first || '') } %>
      </div>

      <% if @form.translators.count > 1 %>
      <span class="input-group-btn field-controls multi_value">
        <button type="button" class="btn btn-link remove remove-translator" data-index="<%= translator.index %>">
          <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Translator</span>
        </button>
      </span>
      <% end %>
    </div>
  <% end %>

  <input type='hidden' name='index-translator' id='index-translator' value="<%= @form.translators.count %>" />

  <div class="translator row cloning hidden" id='translator-cloning_row'>
    <%= f.fields_for :translators do |translator| %>
      <% if translator.index <= @form.translators.count %>
        <div class="translator row">
          <div class="col-sm-6 translator-name">
            <%= translator.input :name, label: "Translator",
                              input_html: { placeholder: 'Last Name, First Name',
                                            class: 'form-control translator translator-name',
                                            value: '' } %>
          </div>

          <div class="col-sm-6 translator-orcid">
            <%= translator.input :orcid, label: 'ORCID', input_html: { placeholder: 'https://orcid.org/xxxx-xxxx-xxxx-xxxx',
                                                                    class: 'form-control',
                                                                    value: '' } %>
          </div>

          <div class="col-sm-6 translator-affiliation">
            <%= translator.input :affiliation, as: :select,
                              collection: DepartmentsService.select_all_options.sort,
                              include_blank: true,
                              selected: '',
                              item_helper: DepartmentsService.method(:include_current_value),
                              input_html: { class: 'form-control' }
            -%>
          </div>

          <div class="col-sm-6 translator-other-affiliation">
            <%= translator.input :other_affiliation, input_html: { class: 'form-control',
                                                                value: '' } %>
          </div>

          <span class="input-group-btn field-controls multi_value">
          <button type="button" class="btn btn-link remove remove-translator" data-index="1">
            <span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Translator</span>
          </button>
        </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <button id="add-another-translator" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Add another Translator</span>
  </button>
</div>
<hr>
