<% provide :page_header do %>
  <h1><i class="fa fa-check-circle-o" aria-hidden="true"></i> Ingest from FTP</h1>
<% end %>

<div class="row">
  <div class="col-md-12 tabs">
    <div class="card">
      <ul class="nav nav-tabs" id="my_nav" role="list">
        <li class="nav-item">
            <%= link_to 'Proquest',
              main_app.ingest_from_ftp_path(source: 'proquest'), class: "nav-link#{' active' if @source == 'proquest'}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sage', main_app.ingest_from_ftp_path(source: 'sage'), class: "nav-link#{' active' if @source == 'sage'}" %>
        </li>
      </ul>
      <%= form_tag main_app.ingest_from_ftp_path(source: @source), method: :post do %>
      <div class="card-body">
        <h2 class="sr-only">Ingest from <%= @source %> </h2>
        <fieldset class="btn-group">
          <%= submit_tag 'Ingest Packages', class: 'btn btn-primary', data: { confirm: 'Are you sure you want to ingest selected packages?' } %>
        </fieldset>
        <fieldset class="btn-group">
          <%= link_to 'View Status of last Ingest', main_app.ingest_from_ftp_status_path(source: @source), method: :get, class: 'btn btn-secondary' %>
        </fieldset>
        <fieldset class="btn-group">
          <%= submit_tag 'Delete Selected Packages', class: 'btn btn-danger', formaction: main_app.delete_from_ftp_path(source: @source), data: { confirm: 'Are you sure you want to delete selected packages?' } %>
        </fieldset>
        <table class="table table-sm table-striped works-list mt-4">
          <thead>
            <tr>
              <th><%= check_box_tag 'select_all' %></th>
              <th>Package</th>
              <th>Received Date</th>
              <% if @needs_revision_flag %>
                <th>Is revision?</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @package_results.each do |entry| %>
              <tr>
                <td>
                  <%= check_box_tag 'selected_filenames[]', entry[:filename], false, class: 'checkbox' %>
                <td>
                  <%= entry[:filename] %>
                </td>
                <td>
                  <%= entry[:last_modified].strftime('%b %-d, %Y') %>
                </td>
                <% if @needs_revision_flag %>
                  <td>
                  <%= entry[:is_revision] %>
                </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#select_all').on("click", function() {
      var checkboxes = $(".checkbox");
      if (checkboxes.prop("checked")){
        checkboxes.prop("checked", false);
      } else {
        checkboxes.prop("checked", true);
      }
    });
  });
</script>
