<li class="h5"><%= t('hyrax.admin.sidebar.repository_objects') %></li>
<% if can? :manage_any, AdminSet %>
  <%= menu.nav_link(hyrax.admin_admin_sets_path) do %>
    <span class="fa fa-sitemap"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.admin_sets') %></span>
  <% end %>

  <%= menu.nav_link(main_app.work_types_path) do %>
    <span class="fa fa-archive"></span> <span class="sidebar-action-text">Work Types</span>
  <% end %>

  <%= menu.nav_link(main_app.default_admin_sets_path) do %>
    <span class="fa fa-archive"></span> <span class="sidebar-action-text">Default Admin Sets</span>
  <% end %>
<% end %>

<%= menu.nav_link(main_app.masters_papers_department_path) do %>
  <span class="fa fa-rocket"></span> <span class="sidebar-action-text">MP Dept</span>
<% end %>

<%= menu.nav_link(hyrax.my_collections_path,
                  also_active_for: hyrax.dashboard_collections_path) do %>
  <span class="fa fa-folder-open"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.collections') %></span>
<% end %>

<%= menu.nav_link(hyrax.my_works_path,
                  also_active_for: hyrax.dashboard_works_path,
                  data: { turbolinks: false }) do %>
  <span class="fa fa-file"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.works') %></span>
<% end %>