<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 main-header">
    <h1><span class="fa fa-archive"></span> Work Types</h1>

    <div class="pull-right">
      <a href="<%= main_app.edit_work_types_path %>" class="btn btn-primary">
        <span class="fa fa-edit"></span> Edit default admin sets
      </a>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped works-list datatable">
        <caption class="sr-only">Work Types <%= application_name %></caption>
        <thead>
        <tr>
          <th>Work type</th>
          <th>Admin set title</th>
        </tr>
        </thead>

        <tbody>
        <% @work_types.each do |work_type| %>
          <tr>
            <td><%= work_type.work_type_name %></td>
            <td><%= AdminSet.find(work_type.admin_set_id).title.first %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
