<p id="notice"><%= notice %></p>

<h1>Work Types</h1>

<table class="table table-striped works-list">
  <caption class="sr-only">Work Types <%= application_name %></caption>
  <thead>
    <tr>
      <th>Work type</th>
      <th>Admin set title</th>
    </tr>
  </thead>

  <tbody>
    <% @work_types.each do |work_type| %>
      <tr>
        <td><%= work_type.work_type_name %></td>
        <td><%= AdminSet.find(work_type.admin_set_id).title.first %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', main_app.edit_work_types_path, class: 'btn btn-default' %>
