<!-- https://github.com/projectblacklight/blacklight/blob/v8.7.0/app/components/blacklight/facet_field_pagination_component.html.erb  -->
 <!-- [hyc-override] paginate using hyrax function to enable skipping pages  -->
  <% paginator = @facet_field.paginator %>
  <% if paginator.present? %>
    <% items = paginator.instance_variable_get(:@all) %>
    <% rows = paginator.instance_variable_get(:@limit) %>
    <% paginated_items = dept_paginate(paginator, rows: rows) %>

    <div class="facet-pagination" aria-label="pagination links">
      <%= paginate paginated_items, theme: 'blacklight', param_name: :page %>
    </div>
  <% end %>

<div class="sort-options btn-group">
  <% if @facet_field.paginator.sort == 'index' -%>
    <span class="active az btn btn-outline-secondary"><%= t('blacklight.search.facets.sort.index') %></span>
    <%= helpers.link_to(t('blacklight.search.facets.sort.count'), sort_facet_url('count'), class: "sort_change numeric btn btn-outline-secondary", data: { blacklight_modal: "preserve" }) %>
  <% elsif @facet_field.paginator.sort == 'count' -%>
    <%= helpers.link_to(t('blacklight.search.facets.sort.index'), sort_facet_url('index'), class: "sort_change az btn btn-outline-secondary",  data: { blacklight_modal: "preserve" }) %>
    <span class="active numeric btn btn-outline-secondary"><%= t('blacklight.search.facets.sort.count') %></span>
  <% end -%>
</div>