<!-- https://github.com/projectblacklight/blacklight/blob/v8.7.0/app/components/blacklight/facet_field_pagination_component.html.erb  -->
<div class="prev_next_links btn-group">
  <%= helpers.link_to_previous_page @facet_field.paginator, raw(t('views.pagination.previous')), params: @facet_field.search_state.to_h, param_name: param_name, class: 'btn btn-link', data: { blacklight_modal: "preserve" } do %>
    <%= content_tag :span, raw(t('views.pagination.previous')), class: 'disabled btn' %>
  <% end %>

  <%= helpers.link_to_next_page @facet_field.paginator, raw(t('views.pagination.next')), params: @facet_field.search_state.to_h, param_name: param_name, class: 'btn btn-link', data: { blacklight_modal: "preserve" } do %>
    <%= content_tag :span, raw(t('views.pagination.next')), class: 'disabled btn' %>
  <% end %>

   <!-- [hyc-override] Pagination using `Blacklight::Solr::FacetPaginator`  -->
  <ul class="pagination">
    <% limit = @facet_field.paginator.instance_variable_get(:@limit) %>
    <% offset = @facet_field.paginator.instance_variable_get(:@offset) %>
    <% current_page = (offset / limit) + 1 %>
    <% total_pages = @total_unique_facets ? (@total_unique_facets.to_f / limit).ceil : 0 %>
    <% first_pages_count = 2 %> 
    <% last_pages_count = 2 %> 
    <% surrounding_pages = 4 %> 
    <!-- Page Numbers -->
    <% (1..total_pages).each do |page| %>
    <!-- Display pages within +/-4 of the current page, always show the first and last two pages  -->
      <% within_range = (page >= current_page - surrounding_pages && page <= current_page + surrounding_pages) %> 
      <% show_page = (
           page <= first_pages_count || 
           page > total_pages - last_pages_count || 
           within_range
         ) %>

      <% if show_page %>
        <li class="page-item <%= 'active' if page == current_page %>">
          <% if page == current_page %>
            <span class="page-link" aria-label="Current Page, Page <%= page %>" aria-current="true"><%= page %></span>
          <% else %>
          <!-- Typecasting not effective in helper method, using hash as a workaround -->
            <%= helpers.link_to_specific_page(
                @facet_field.paginator,
                page,
                @total_unique_facets,
                params: @facet_field.search_state.to_h.merge(page: page, 'facet.page' => page),
                class: "page-link"
              ) %>
          <% end %>
        </li>
        <!-- Render ellipsis for pages that would be just outside of the range (3,last page - 2) if they aren't show pages -->
      <% elsif page == first_pages_count + 1 || page == total_pages - last_pages_count %>
        <li class="page-item disabled"><span class="page-link">…</span></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="sort-options btn-group" style="height: 40px;">
  <% if @facet_field.paginator.sort == 'index' -%>
    <span class="active az btn btn-outline-secondary"><%= t('blacklight.search.facets.sort.index') %></span>
    <%= helpers.link_to(t('blacklight.search.facets.sort.count'), sort_facet_url('count'), class: "sort_change numeric btn btn-outline-secondary", data: { blacklight_modal: "preserve" }) %>
  <% elsif @facet_field.paginator.sort == 'count' -%>
    <%= helpers.link_to(t('blacklight.search.facets.sort.index'), sort_facet_url('index'), class: "sort_change az btn btn-outline-secondary",  data: { blacklight_modal: "preserve" }) %>
    <span class="active numeric btn btn-outline-secondary"><%= t('blacklight.search.facets.sort.count') %></span>
  <% end -%>
</div>