<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav navbar-nav col-sm-5 col-md-6">
        <li <%= 'class=active' if current_page?(hyrax.root_path) %>>
          <%= link_to t(:'hyrax.links.collections'), hyrax.root_path %></li>
        <li <%= 'class=active' if current_page?(hyrax.root_path) %>>
          <%= link_to t(:'hyrax.links.departments'), hyrax.root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to  '#', class: 'all-unc-work-types',
                           data: { behavior: 'select-work', target: '#worktypes-to-create', 'create-type' => 'single' } do %>
              <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
              <%= t('hyrax.links.deposit') %>
            <% end %>
          </li>
        <% end %>
      </ul><!-- /.nav -->
      <div class="searchbar-right navbar-right col-sm-7 col-md-6">
        <%= render partial: 'catalog/search_form' %>
      </div>
    </div>
  </div>
</nav><!-- /.navbar -->