<%# [hyc-override] Overriding partial from gem to allow for suppressed fields only visible to admins %>
<%# [hyc-override] Overriding display of file img/video metadata. Move to bottom of page %>
        <div class="base-terms">
          <% f.object.primary_terms.each do |term| %>
            <%# [hyc-override] adding partial selector for people objects %>
            <% if f.object.person_fields.include? term %>
              <%= render_edit_field_partial('person', f: f, person_key: (term.to_s+'s').to_sym) %>
            <% else %>
              <%= render_edit_field_partial(term, f: f) %>
            <% end %>
          <% end %>
        </div>
        <% if f.object.display_additional_fields? %>
  <%# [hyc-override] Overriding aria-expaneded, set to "false" if JS is turned on %>
          <%= link_to t('hyrax.works.form.additional_fields'),
                      '#extended-terms',
                      class: 'btn btn-default additional-fields',
                      data: { toggle: 'collapse' },
                      role: "button",
                      'aria-expanded'=> "true",
                      'aria-controls'=> "extended-terms" %>
          <div id="extended-terms" class='collapse in' aria-expanded="true">
            <% f.object.secondary_terms.each do |term| %>
              <% if !(f.object.admin_only_terms.include? term) || current_user.admin? %>
                <%# [hyc-override] adding partial selector for people objects %>
                <% if f.object.person_fields.include? term %>
                  <%= render_edit_field_partial('person', f: f, person_key: (term.to_s+'s').to_sym) %>
                <% else %>
                  <%= render_edit_field_partial(term, f: f) %>
                <% end %>
              <% end %>
            <% end %>
            <%# [hyc-override] Overriding display of file img/video metadata. Move to bottom of page %>
            <%= render 'form_media', f: f %>
          </div>
        <% end %>
