<%# Overriding partial in hyrax gem in order to auto-select an admin set %>
<% if Flipflop.assign_admin_set? %>
  <% if f.object.model.title.blank? %>
    <% admin_set_id = AdminSetSelectService.select(f.object.model.class.to_s,
                                                   params[:affiliation],
                                                   Hyrax::AdminSetOptionsPresenter
                                                       .new(Hyrax::AdminSetService.new(controller)).select_options)
    %>
  <% else %>
    <% admin_set_id = f.object.model.admin_set_id %>
  <% end %>
  <% if current_user.admin? %>
  <%= f.input :admin_set_id, as: :select,
              selected: admin_set_id,
              include_blank: true,
              collection: Hyrax::AdminSetOptionsPresenter.new(Hyrax::AdminSetService.new(controller)).select_options,
              input_html: { class: 'form-control' } %>
  <% else %>
  <%= f.input :admin_set_id, as: :hidden,
              input_html: { class: 'form-control', value: admin_set_id[1] },
              readonly: true %>
  <% end%>
<% end %>

<%= render 'form_in_works', f: f %>
<%= render 'form_member_of_collections', f: f %>

<% if f.object.persisted? %>
  <h3><%= t("hyrax.works.form.in_this_work") %></h3>
  <%= render 'form_child_work_relationships', f: f  %>
<% end %>
