<%# Overriding partial in hyrax gem in order to change the workflow action panel %>
<div class="col-xs-12">
  <div class="workflow-actions">
    <%= render 'workflow_actions', presenter: @presenter if @presenter.workflow.actions.present? &&
        @presenter.workflow.actions.select{|action| action[0] == 'request_deletion'}.blank? %>

    <% if @presenter.workflow.actions.present? &&
        !@presenter.workflow.actions.select{|action| action[0] == 'request_deletion'}.blank? %>
      <div class="modal fade" id="deletion-request-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title">Request Deletion</p>
            </div>
            <%= form_tag main_app.hyrax_workflow_action_path(presenter), method: :put do %>
            <div class="modal-body">
              <%= hidden_field :workflow_action, :name, value: 'request_deletion' %>
              <div class="form-group">
                <label for="workflow_action_comment">Comment:</label>
                <textarea class="form-control" name="workflow_action[comment]" id="workflow_action_comment" required="required"></textarea>
              </div>
              <h4>Previous Comments</h4>
              <dl>
                <% presenter.workflow.comments.each do |comment| %>
                  <dt><%= comment.name_of_commentor %></dt>
                  <dd><%= comment.comment %></dd>
                <% end %>
              </dl>
            </div>
            <div class="modal-footer">
              <input class="btn btn-primary" type="submit" value="Submit">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
