<%# [hyc-override] %>
<%# https://github.com/samvera/hyrax/blob/v3.4.2/app/views/hyrax/base/show.html.erb %>
<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-sm-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <%= render 'work_title', presenter: @presenter %>
    <%= render 'show_actions', presenter: @presenter %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <%# [hyc-override] Show message to attach child works for art mfa deposits %>
          <%if @presenter.workflow.is_mfa_in_review? %>
            <p class="bg-success mfa-child-works">If you haven't already done so, please add your artworks now.
            </p>
          <% end %>
          <%# [hyc-override] Changes end here %>
          <% if @presenter.iiif_viewer? %>
            <div class="col-sm-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
          <% end %>
          <div class="col-sm-3 text-center">
            <%# [hyc-override] Remove restriction on showing representative media info when iiif viewer present %>
            <%= render 'representative_media', presenter: @presenter, viewer: false %>
            <%# [hyc-override] Changes end here %>
            <%= render 'citations', presenter: @presenter %>
            <%= render 'social_media' %>
          </div>
          <div class="col-sm-9">
            <%# [hyc-override] Comment out description, so it can be displayed interleaved in the metadata instead %>
            <%# <%= render 'work_description', presenter: @presenter %>
            <%= render 'metadata', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div><!-- /panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= t('hyrax.base.show.relationships') %></h1>
      </div>
      <div class="panel-body">
        <%= render 'relationships', presenter: @presenter %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= t('.items') %></h1>
      </div>
      <div class="panel-body">
        <%= render 'items', presenter: @presenter %>
      </div>
    </div>

    <%# TODO: we may consider adding these partials in the future %>
    <%# = render 'sharing_with', presenter: @presenter %>
    <%# = render 'user_activity', presenter: @presenter %>

<span class='hide analytics-event' data-category="work" data-action="work-view" data-name="<%= @presenter.id %>" >
<% @presenter.member_of_collection_ids.each do |collection_id| %>
  <span class='hide analytics-event' data-category="work-in-collection" data-action="work-in-collection-view" data-name="<%= collection_id %>" >
<% end %>

  </div>
</div>
