<%# [hyc-override] %>
<%# Remove description and display it interleaved in the metadata %>
<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'work_title', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <%# [hyc-override] Show message to attach child works for art mfa deposits %>
          <%if @presenter.workflow.is_mfa_in_review? %>
            <p class="bg-success mfa-child-works">If you haven't already done so, please add your artworks now.
            </p>
          <% end %>
          <% if @presenter.iiif_viewer? %>
            <div class="col-sm-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
          <% end %>
          <div class="col-sm-3 text-center">
            <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.iiif_viewer? %>
            <% if @presenter.iiif_viewer? %>
              <%  array_of_ids = @presenter.list_of_item_ids_to_display %>
              <%= link_to t('hyrax.file_set.show.download'),
                          hyrax.download_path(array_of_ids.first),
                          data: { label: array_of_ids.first },
                          target: :_blank,
                          id: 'file_download',
                          class: 'iiif-download-file-link' %>
            <% end %>
            <%= render 'citations', presenter: @presenter %>
            <%= render 'social_media' %>
          </div>
          <div class="col-sm-9">
            <%= render 'metadata', presenter: @presenter %>
          </div>
          <div class="col-sm-12">
            <%= render 'relationships', presenter: @presenter %>
            <%= render 'items', presenter: @presenter %>
            <%# TODO: we may consider adding these partials in the future %>
            <%# = render 'sharing_with', presenter: @presenter %>
            <%# = render 'user_activity', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>